<h1><%= @user.name %>さんのお気に入りポスト</h1>
<ul class="media-list">
  <% @favoriteposts.each do |favoritepost| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(favoritepost.user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <p><%= favoritepost.id %>：<%= favoritepost.content %></p>
 
 <!--お気に入り一覧ページでも解除が出来ると良いと思います。 -->
          <% if current_user.like?(favoritepost) %>
  <%= form_for(current_user.favorites.find_by(favoritepost_id: favoritepost.id), html: { method: :delete }) do |f| %>
    <%= hidden_field_tag :favoritepost_id, favoritepost.id %>
    <%= f.submit 'Unlike', class: 'btn btn-danger btn-xs' %>
  <% end %>
<% else %>
  <%= form_for(current_user.favorites.build) do |f| %>
    <%= hidden_field_tag :favoritepost_id, favoritepost.id %>
    <%= f.submit 'Like', class: 'btn btn-primary btn-xs' %>
  <% end %>
<% end %>

        </div>
        <div>
          <span class="text-muted">posted by <%= link_to favoritepost.user.name, user_path(favoritepost.user) %></span>
        </div>
      </div>
    </li>
  <% end %>
</ul>
